.swiper {
  width: 240px;
  height: 280px;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  font-size: 22px;
  font-weight: bold;
  color: #fff;
}

.swiper-slide:nth-child(1n) {
  background-image: linear-gradient(to bottom, #b6c9d3, #c6dfe3);
}

.swiper-slide:nth-child(2n) {
  background-image: linear-gradient(to bottom, #4d82dc, #b6c4cf);
}

.swiper-slide:nth-child(3n) {
  background-image: linear-gradient(to bottom, #82a5db, #8aa9a1);
}

.swiper-slide:nth-child(4n) {
  background-image: linear-gradient(to bottom, #245ed6, #0043b5);
}

.swiper-slide:nth-child(6n) {
  background-image: linear-gradient(to bottom, #3375c8, #0043b5);
}
.swiper-slide:nth-child(5n) {
  background-image: linear-gradient(to bottom, #658c3f, #187a49);
}
.swiper-slide:nth-child(7n) {
  background-image: linear-gradient(to bottom, #709ab4, #cdb79d);
}

/* .swiper-slide:nth-child(6n) {
  background-color: rgb(180, 10, 47);
}

.swiper-slide:nth-child(7n) {
  background-color: rgb(35, 99, 19);
}

.swiper-slide:nth-child(8n) {
  background-color: rgb(0, 68, 255);
}

.swiper-slide:nth-child(9n) {
  background-color: rgb(218, 12, 218);
}

.swiper-slide:nth-child(10n) {
  background-color: rgb(54, 94, 77);
} */
